.multiscreenapp {
       -webkit-user-select: none;
       -webkit-app-region: drag;
       /* Cover the whole window */
       /*height: 100%;*/
       background: rgba(171, 171, 171,0);
}

div.singlescreen
{
    width: 200px;
    height: 200px;
    /*background: rgba(171,171,171,0.5);*/
}

#ValueContainer
{
    position:fixed;
    top: 45%;
    left: 45%;
    font-size: 40px;
    /*background-color: black;*/
}
